extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 MY TECHDEGREE PORTFOLIO
      p.lead.text-light
        | This is my portfolio that showcases the projects I have completed thus far in the Treehouse techdegree. 
        br
        | Check out my projects in the gallery below!
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`, target='_blank')
            img.thumbnail(src=`/static/${project.image_urls[0]}`  )
            h5= project.project_name